.btn,
input[type="button"],
.button,
#btn,
input[type="submit"] {
     color: #323036 !important;
     box-shadow: none;
     text-decoration: none;
     text-transform: uppercase;
     border: none;
     font-weight: bold;
     letter-spacing: 1.5em;
     background-color: transparent;
     &:hover {
          color: #ceccd2;
          box-shadow: none;
          border: none;
          background-color: transparent;
     }
}
