.card {
     box-shadow: none;
     border: none;
     border-radius: 0px;

     .card-content {
          padding: 5px 20px 20px 20px !important;
     }

     .card-table {
          margin: 0 -20px !important;
          border: 0;
     }

     .enrichedHeadline .title,
     .card-title {
          position: relative;
          font-weight: 300 !important;
     }
}
