canvas.jqplot-piwik-ticks-canvas {
     background: @theme-color-background-base !important;
}

.UserCountryMap.card-content.dataTable {
     background: @theme-color-background-base;
}

td .label img {
     display: none;
}
