canvas.jqplot-piwik-ticks-canvas {
     background: @theme-color-background-base !important;
}

// Graph series colours (1)

@graph-colors-data-series0: #323036;
@graph-series0-shade1-color: #828089;
@graph-series0-shade2-color: #ceccd2;
@graph-series0-shade3-color: #e6e6e6;
