#loginPage .loginSection {
     margin-top: 12%;
     & #nav a {
          font-size: 0.5em;
     }
}

.loginForm,
.loginTwoFaForm,
.loginSection {
     padding: 10px;
     & input[name="login_form_rememberme"],
     & label[for="login_form_rememberme"] {
          display: none;
     }
     & h2.card-title {
          text-align: center;
     }
     & p,
     p#piwik {
          display: none;
     }
     & input#login_form_submit {
          width: 100%;
          color: #323036 !important;
          font-size: 1.3em;
          letter-spacing: 0.2em;
          background-color: transparent;
          font-weight: bold;
          &:hover {
               color: #ceccd2 !important;
               background-color: transparent;
          }
     }
}
