#loginPage .loginSection {
     margin-top: 12%;
     & #nav a {
          font-size: 0.5em;
     }
}

.loginForm,
#loginTwoFaForm {
     & input[name="login_form_rememberme"],
     & label[for="login_form_rememberme"] {
          display: none;
     }
     & h2.card-title {
          text-align: center;
     }
     & p#piwik {
          display: none;
     }
     & input#login_form_submit {
          width: 100%;
          color: #323036;
          font-size: 1.3em;
          background-color: transparent;
          &:hover {
               color: #ceccd2;
               background-color: transparent;
          }
     }
}
