@import "_colors";
@import "_variables";

@import "components/_admin_users_list";
@import "components/_button";
@import "components/_card";
@import "components/_control";
@import "components/_header";
@import "components/_menu";
@import "components/_search";
@import "components/_sparkline";
@import "components/_visitor_log";
@import "components/_widget";

@import "components/_login";

@theme-color-brand: #CECCD2;
@theme-color-background-base: #FAF9F6;
@theme-color-header-background: #FAF9F6;
@theme-color-header-text: #323036;

@theme-color-widget-title-background: transparent;
@theme-color-widget-title-text: #323036;

@theme-color-menu-contrast-text: rgba(0,0,0,0.54);
@theme-color-menu-contrast-textActive: #828089;
@theme-color-menu-contrast-textSelected: #CECCd2;
@theme-color-menu-contrast-background: transparent;